@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



:root {
    /* Backgrounds */
    --bg-bd: #d5d5d5;
    --bg-wh: #ffffff;
    --bg-gy: #9b9b9d;


    /* Textos */
    --text-gy: #48485e;
    --text-wh: #f3f4f6;

    /* Decoration */
    --fire: #ff6d00;
    --black-olive: #32322cff;

    /* Font Family */
    --roboto: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--roboto);
}

body {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #DCD9D4;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light,screen;
}


/* Section for Header */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 95px;
    background: rgb(87,93,93);
    background: linear-gradient(0deg, rgba(87,93,93,1) 48%, rgba(3,3,3,1) 100%);
    position: sticky;
    top: 0;
    z-index: 2; 
}

header img {
    height: 65px;
}

#menu-toggle, .menu-label {
    display: none;
}

.navbar-list {
    display: block;
}

.navbar, 
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem;
}

.navbar {
    display: flex;
}
  
.navbar-list {
    display: flex;
    list-style: none;
    margin-left: 30px;
}

.navbar-list li {
    margin-right: 20px;
}

.navbar-list li a {
    color: var(--text-wh);
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    font-weight: 700;
} 

.navbar-list li a:hover {
    background-color: #0074D9;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}


/* Section for Hero */

#hero {
    margin: 0 auto;
    padding: 50px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-slogan {
    flex-basis: 50%;
}
  
.hero-slogan h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}
  
.hero-slogan p {
    font-size: 24px;
    margin-bottom: 30px;
}
  
.hero-btn {
    margin-top: 30px;
}
  
.hero-btn a {
    display: inline-block;
    background: #000;
    color: #fff;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 5px;
    margin-right: 20px;
    transition: all 0.5s ease-in-out;
}
  
.hero-btn a:hover {
    background: #fff;
    color: #000;
    box-shadow: 0 2px 0 #000;
}
  
.hero-logo {
    flex-basis: 40%;
}
  
.hero-logo img {
    max-width: 100%;
    border-radius: 10px;
}

/* Section for About */

#about {
    padding: 60px 0;
}

#about h2 {
    text-align: center;
    font-size: 38px;
    line-height: 2;
}
  
.about-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
  
.about-container h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333333;
}
  
.about-container p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #666666;
}

/*  Section for Cards */

#card {
    padding: 60px 0 ;
}

#card h2 {
    font-size: 38px;
    text-align: center;
    line-height: 2;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    text-align: center;
}

.card i {
    font-size: 48px;
    margin-bottom: 20px;
    color: #666;
}

.card h3 {
    font-size: 20px;
    color: #333;
}

.card p {
    font-size: 16px;
    color: #666;
}

/*  Section for Contact */

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.contact-info {
    text-align: center;
    margin-bottom: 20px;
    line-height: 2;
}

.contact-info a {
    font-style: italic;
}

.contact-map img {
    width: 80%;
    height: 200px;
    margin: 20px 30px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social-links a {
    margin: 0 10px;
}


/* Section for Footer */

footer {
    background: rgb(87,93,93);
    background: linear-gradient(0deg, rgba(87,93,93,1) 48%, rgba(3,3,3,1) 100%); 
    color: #fff;
    padding: 50px 0;
}
  
.footer-container {
    max-width: 1200px;
    margin: 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
  
.footer-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
.footer-links li {
    margin-right: 50px;
}
  
.footer-links li:last-child {
    margin-right: 0;
}
  
.footer-links a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.2s ease;
}
  
.footer-links a:hover {
    box-shadow: 0 2px var(--fire);
}

/*  Medias Querys */

@media (max-width: 992px) {
    .navbar-list {
        position: absolute;
        top: 15px;
        left: 6%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        background-color: #949494;
        border: 2px solid var(--fire);
        border-top: 0;
        border-radius: 0 0 15px 15px;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        display: none;
    }

    .navbar-list a {
        font-size: 16px;
        color: #0074D9;
    }

    .menu-label {
        display: flex;
        order: 2;
        cursor: pointer;
    }

    .menu-label img {
        height: 40px;
        width: 45px;
    }

    #menu-toggle:checked+.navbar-list {
        display: flex;
    }

    .hero-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-btn a {
        display: inline-block;
        white-space: nowrap;
    }

    .footer-container {
        font-size: 12px;
        gap: 20px;
    }
}

@media (max-width: 576px) {
    .footer-container p {
        font-size: 15px;
        text-align: center;
    }
    .footer-links {
        display: none;
    }
}